body{
background-color:rgb(136, 73, 2)
}
h1{
color:#000000;
font-family: ;
background:;
text-align: center;
}
p{
color: rgb(226, 140, 83) ;
font-family: ;
font-size: 25px ; 
font-weight: bold;
text-align: center;
}
#loja {
width: 100%;
}